.baseDivL {
  width: 100%;
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  justify-content: center;
  padding: 8rem 3rem 0 3rem;
  gap: .2rem;
}

.baseDivL .Category {
  height: 30rem;
  overflow: hidden;
  width: 100%;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.2s ease;
}

.closeCategory {
  height: 4rem;
  overflow: hidden;
  width: 100%;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
}

.baseDivL .Category .topCate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.baseDivL .closeCategory .topCate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.baseDivL .Category ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 20px;
  margin: 15px 0;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.baseDivL .closeCategory ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 20px;
  margin: 15px 0;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.baseDivL .Category ul li:hover {
  transform: translateX(7px);
  background: #025464af;
  color: white;
}

.baseDivL .closeCategory ul li:hover {
  transform: translateX(7px);
  background: #025464af;
  color: white;
}

.baseDivL .Category h2 {
  padding: 0 0 5px 0;
  border-width: 2px;
  border-color: transparent transparent rgb(159, 157, 157) transparent;
  border-style: solid;
}

.baseDivL .closeCategory h2 {
  padding: 0 0 5px 0;
  border-width: 2px;
  border-color: transparent transparent rgb(159, 157, 157) transparent;
  border-style: solid;
}

.containerLanding {
  background-image: url(../../images/landing.jpg);
  background-size: cover;
  height: 30rem;
  width: 92%;
  display: flex;
  align-items: start;
  padding: 7rem;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: .7rem;
}

.containerLanding h1 {
  font-size: 40px;
}

.containerLanding h4,
.containerLanding h1,
.containerLanding p {
  color: white;
}

.containerLanding button {
  width: 10rem;
  cursor: pointer;
  height: 2.5rem;
  background-color: #e28330;
  border-color: transparent;
  border-width: 0;
  color: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.563);
}

@media screen and (max-width: 784px) {
  .baseDivL {
    padding: 6rem 3rem 0 3rem;
  }

  .baseDivL .Category ul li p {
    display: none;
  }
  

  .baseDivL .Category {
    height: max-content;
  }


  .baseDivL .Category .topCate h2 {
    font-size: 13px;
  }

  

  .baseDivL .Category ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
  .baseDivL .Category ul li {
    font-size: 25px;
  }
  
}

@media screen and (max-width: 699px) {
  .baseDivL {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
  }

  .baseDivL .Category ul li p {
    display: block;
  }
  .baseDivL .closeCategory ul li p {
    display: block;
  }

  .baseDivL .Category ul {
    display: flex;
    flex-direction: column;
  }
  .baseDivL .closeCategory ul {
    display: flex;
    flex-direction: column;
  }

  .baseDivL .Category {
    width: 100%;
  }
  .baseDivL .closeCategory {
    width: 100%;
  }

  .closeCategory {
    width: 100%;
  }

  .containerLanding {
    padding: 3rem;
    width: 100%;
  }

  .containerLanding h4,
  .containerLanding h1,
  .containerLanding p {
    font-size: 20px;
  }

  .containerLanding button {
    width: 6rem;
    cursor: pointer;
    height: 2rem;
    background-color: #e28330;
    border-color: transparent;
    border-width: 0;
    color: #025464;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.563);
  }
}
